/* stylesheet for website (home page...) */
* 
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body
{
    background-color: var(--color-background);
}

.navbar
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left:-.5em; margin-top:-.5em;
    width: calc(100% + 1em);
    background-color: var(--color-dark-background);
}

.navbar-link
{
    color: var(--color-blue);
    transition: 300ms ease color;
    margin: 1em;
    font-size: large;
}

.navbar-link:hover
{
    color: var(--color-lightblue);
}