:root
{
    /* Colors */
    
    /* Text and highlight */
    --color-lightblue: #15a6df;
    --color-blue: #2785ae;
    --color-darkblue: #307595;

    /* Backgrounds and surfaces */
    --color-background-highlight: #cfcfcf;
    --color-light-background: #555555;
    --color-background: #3e3e3e;
    --color-dark-background: #1c1c1c;
}